.home-page {
  & {
    color: $color5;
    display: grid;
    grid-template-columns: 12;
    height: 70vh;
    background-color: #123075;
    overflow: hidden;
  }

  button {
    & {
      background: linear-gradient(193.64deg, #fa2b56 0%, #f91c3d 100%);
      box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      height: 50px;
      width: 200px;
      color: $color5;
      font-size: 1em;
    }

    img {
      position: relative;
      right: -20px;
      height: 13px;
      width: 8px;
    }
  }
}

.red-bcg {
  // grid-column-start: 5;
  // grid-column-end: 12;
  background: linear-gradient(253.03deg, #fa2b56 36.56%, #f91c3d 93.83%);
  box-shadow: -40px 40px 120px rgba(0, 0, 0, 0.3);
  border-radius: 800px;
  transform: matrix(0.71, -0.7, 0.72, 0.71, 0, 0);
  overflow: hidden;
  position: relative;
  bottom: 190px;
  left: 260px;
  height: 660px;
  opacity: 0.7;
  @include for-extra-wide-layout {
    bottom: 400px;
    left: 700px;
  }
  img {
    position: relative;
    top: 50px;
    right: 100px;
    transform: rotate(45deg);
    opacity: 0.4;
    height: 100%;
    width: 100%;
    object-fit: contain;
    @include for-extra-wide-layout {
      top: 100px;
      right: 430px;
    }
  }
}

.background {
  // grid-column-start: 5;
  // grid-column-end: 12;
  opacity: 0.4;
  img {
    height: 100%;
    width: 100%;
    position: relative;
    left: 180px;
    bottom: 30px;
    object-fit: contain;
  }
}

.text-container {
  margin-bottom: 40px;
}

.homepage-header {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
