.home-page {
  &{
    color:$color5;
    display:grid;
    grid-template-columns: 12;
    height: 70vh;
    background-color: #123075;
  }
  
  button {
    &{
      background: linear-gradient(193.64deg, #fa2b56 0%, #f91c3d 100%);
      box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      height: 50px;
      width: 200px;
      color:$color5;
      font-size:1em;
    }

    img {
      position: relative;
      right: -20px;
      height:13px;
      width:8px;
    }
  }
}

.text-container {
  margin-bottom: 40px;
}

.homepage-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}