.survey-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;

  .survey-list-header {
    @include content-title;
  }
  .under-title{ 
    @include gradient-line; 
  }
  .survey-preview-container {
    margin: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    max-width: 333px;
    border: 1px solid #DDDFE7;
    border-radius: 5px;
    justify-content: center;


    .survey-img {
      width: 300px;
      height: 300px;
      transition-duration: 0.3s;
      object-fit: cover;
      border-radius: 5px;
      
      &:hover {
        width: 310px;
        height: 310px;
        transition-duration: 0.3s;
      }
    }

      .title-under-img {
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
        @include content-title;
        font-size: 1rem;
        padding: 0;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        & > * {
          margin: 0;
        }
      }
      
      .survey-preview-tags {
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
      }

    .survey-preview-quest-description {
      display: block;
      width: 100%;
      margin: 0 0 1rem 0;
      line-height: 1.5rem;
      font-weight: 400;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .survey-preview-btns-container {
      position: relative;
      bottom: 8px;
      margin-top: 1rem;

      .survey-preview-btn {
        cursor: pointer;  
        background: linear-gradient(180deg, #123075 0%, #092056 100%);
        box-shadow: 0px 10px 30px rgba(15, 53, 142, 0.1);
        border-radius: 5px;
        padding: 1rem;
        font-size: 0.8rem;
        margin: 0.5rem;
        color: $color5;
  
        &::after {
          content: '  ›';
          position: relative;
          top: calc(50% - 1rem/1 - 0px);
          font-size: 2rem;
          color: $color5;
        }
  
        &:hover {
          background: linear-gradient(180deg, #244592 0%, #112b68 100%);
          transition-delay: 0.3ms;
        }
  
      }
      .survey-result-btn {
        color: #0F358E;
        font-size: 0.8rem;
        font-weight: bolder;
      }
    }
  }
}
