.survey-submit-page {

  #myForm{
    min-height: 80vh;
    padding-bottom: 130px;
    position: relative;
  }
  .survey-submit-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .survey-submit-header {
    margin-bottom: 0;
  }
  .survey-submit-qst-number {
    margin: 0;
  }

  .quest-submit {
    font-weight: 700;
    text-align: left;
    margin-bottom: 1vh;
    padding: 1em;
  }

  .quest-submit-container{
    font-weight: 500;
    line-height: 1.5em;
  }

  .quest-list-container {
    border: 1px solid #DDDFE7;
    margin: 0 auto;
    width: 70%;
  }

  .survey-preview-tags {
  }
  .survey-submit-created {
    margin: 0;
  }

  .survey-submit-btn{
    padding: 1em;
  }
  .survey-create-btn-publish {
    cursor: pointer;
    background: linear-gradient(180deg, #369224 0%, #116811 100%);
    border-radius: 5px;
    height: 25px;
    width: 200px;
    color: $color5;
    font-size: 1em;
    margin: 0 auto;
  }

  .survey-create-btn-results {
    cursor: pointer;
    background: linear-gradient(180deg, #f17725 0%, #ee892b 100%);
    border-radius: 5px;
    height: 25px;
    width: 200px;
    color: $color5;
    font-size: 1em;
    margin: 0 auto;
    margin-left: 1em;
  }
}
