.survey-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;

  .survey-preview-container {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    max-width: 300px;
    border: 1px solid #DDDFE7;
    border-radius: 5px;
    justify-content: center;
    align-content: space-between;

    .survey-img-container {
      position:relative;
      width: 275px;
      height: 275px;
      flex-grow: 1;

      &:hover {
        width: 285px;
        height: 285px;
        transition-duration: 0.3s;

        .survey-img {
          width: 285px;
          height: 285px;
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
          transition-duration: 0.3s
        }
      }

      .survey-img {
        width: 275px;
        height: 275px;
        object-fit: cover;
        border-radius: 5px;
      }

      .title-under-img {
        justify-content: space-between;
        position: absolute;
        height: 44%;
        top: 77%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:100%;;
        color: $color5;
        background: linear-gradient(1.02deg, #38476b 5.82%, rgba(18, 44, 105, 0) 30.6%);
        & > * {
          margin: 0;
          align-self: flex-end;
        }
      }
      
      .survey-preview-tags {
        display: block;
        width: 100%;
        margin-right: 1rem;
      }



    }

    .survey-preview-quest-description {
      display: block;
      width: 100%;
    }

    .survey-preview-btns-container {
      position: relative;
      bottom: 8px;
      margin-top: 1rem;

      .survey-preview-btn {
        cursor: pointer;  
        background: linear-gradient(180deg, #123075 0%, #092056 100%);
        box-shadow: 0px 10px 30px rgba(15, 53, 142, 0.1);
        border-radius: 5px;
        padding: 1rem;
        font-size: 0.8rem;
        margin: 0.5rem;
        color: $color5;
  
        &::after {
          content: '  ›';
          position: relative;
          top: calc(50% - 1rem/1 - 0px);
          font-size: 2rem;
          color: $color5;
        }
  
        &:hover {
          background: linear-gradient(180deg, #244592 0%, #112b68 100%);
          transition-delay: 0.3ms;
        }
  
      }
      .survey-result-btn {
        color: #0F358E;
        font-size: 0.8rem;
        font-weight: bolder;
      }
    }
  }
}
