// Colors
$color1: #75E6DA;
$color2: #189AB4;
$color3: #05445E;
$color4: #D4F1F4;
$color5: white;
$color6: #f91c3d;
$color7: #f86a80;
$color8: #112b68;
$color9: #244592;
$color10: #dddfe7;

//Fonts
$font1: 'Lato';
$font2: 'Lato';
