
a {
  @include header-buttons
}

.header-btn-list > button {
  @include header-buttons;
  border:none;
  padding: 6px 0 9px 0;
  background-color: #fff;
}

a:active {
  color: $color2;
}
.router-link-exact-active {
  color: $color2;
}

img {
  width: 100px;
  height: 50px;
}

@include for-wide-layout {
  flex-direction: row;
  height: 100px;
}

.main-nav {
  width:100%;
  height:100%;
  justify-content: space-between;
  max-width:1140px;
  align-items: center;
}

.app-header-div {
  justify-content: left;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  height: 12vh;
  @include for-wide-layout {
    margin: 0 10px;
  }
  @include for-extra-wide-layout {
    margin: 0 15px;
  }
}

#sign-in{
  background: linear-gradient(205.62deg, #1a47b0 0%, #f91c3d 100%);
  border-radius: 30px;
  color:#FFFFFF;
}
