* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  @include for-normal-layout {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: $font2;
}

a {
  text-decoration: none;
}